body{
	text-align:center;
	padding-top:5px;
	background-color:#9E9699;
}
p.book{
	padding-left:150px;
	padding-right:150px;
	position:relative;
	float:left;
}
div.single_book{
	padding-top: 10px;
}
div#img{
	position:absolute;
	float:left;
	left:12px;
}
div#det{
	position:absolute;
	left:270px;
}
div#outer{	
	width:80%;
	height:100%;
	position:relative;
	left:140px;
	font-size:24px;
	font-weight: bold;
	background-color:#ffffd0;
	overflow:scroll;
}